
*{
  box-sizing: border-box;
}
/* start welcome animation */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

h1.title,
.footer-copyright a {
  font-family: 'Architects Daughter', cursive;
  text-transform: uppercase;
  font-weight: 900;
}

/* start welcome animation */

body.welcome {
  background: #A10EFF;
  
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
}

.welcome .splash {
  height: 0px;
  padding: 0px;
  border: 130em solid #039be5;
  position: fixed;
  left: 50%;
  top: 100%;
  display: block;
  box-sizing: initial;
  overflow: hidden;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: puff 0.5s 1.8s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, borderRadius 0.2s 2.3s linear forwards;
}

.welcome #welcome {
  background: #311b92 ;
  width: 56px;
  height: 56px;
  position: absolute;
  left: 50%;
  top: 50%;
  overflow: hidden;
  opacity: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards, hide 2s 2.9s ease forwards;
}

/* moveIn */
.welcome header,
.welcome a.btn {
  opacity: 0;
  animation: moveIn 2s 3.1s ease forwards;
}

@keyframes init {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 56px;
    height: 56px;
    margin-top: 0px;
    opacity: 1;
  }
}

@keyframes puff {
  0% {
    top: 100%;
    height: 0px;
    padding: 0px;
  }
  100% {
    top: 50%;
    height: 100%;
    padding: 0px 100%;
  }
}

@keyframes borderRadius {
  0% {
    border-radius: 50%;
  }
  100% {
    border-radius: 0px;
  }
}

@keyframes moveDown {
  0% {
    top: 50%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 100%;
  }
}

@keyframes moveUp {
  0% {
    background: #311b92;
    top: 100%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 50%;
    background: #039be5;
  }
}

@keyframes materia {
  0% {
    background: #039be5;
  }
  50% {
    background: #039be5;
    top: 26px;
  }
  100% {
    background: #311b92;
    width: 100%;
    height: 64px;
    border-radius: 0px;
    top: 26px;
  }
}

@keyframes moveIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*******************************************************/
.uno, .dos, .tres, .cuatro{
  height: 100vh;
}
.uno{
  background: #E800A4;
  -webkit-transition: width 1s; /* Safari */
  transition: width 1s;
  display: flex;
}
.dos{
  background: #F908FF;
  -webkit-transition: width 1s; /* Safari */
  transition: width 1s;
  display: flex;
}
.tres{
  background: #BC14E8;
  -webkit-transition: width 1s; /* Safari */
  transition: width 1s;
  display: flex;
}
.cuatro{
  background: #A10EFF;
  -webkit-transition: width 1s; /* Safari */
  transition: width 1s;
  display: flex;
}
.text-entry{
  font-size: 1.5em;
  color: white;
  opacity: 1;
  border: 0px solid white;
   -webkit-transition: font-size 1s; /* Safari */
  transition: font-size 1s;
  text-shadow:4px 4px 2px rgba(0, 0, 0, 0.79)
 }
 
 .about-content{
  color: white;
}

h1{
  font-size: 9em;
  padding: 5px;
}
.yo{
  text-align: justify;
  padding: 20px;
  font-size: 1.1em;
}

.carousel{
  z-index: -200;
}
.skills-content{
  margin-top: 20px;
}
.a1{
  -webkit-animation-delay: 0.2s;
  animation-delay: .2s;
}
.a2{
  -webkit-animation-delay: .6s;
  animation-delay: .6s;
}
.a3{
  -webkit-animation-delay: .4s;
  animation-delay: .4s;
}
.a4{
  -webkit-animation-delay: .10s;
  animation-delay: .10s;
}
.a5{
  -webkit-animation-delay: .8s;
  animation-delay:.8s;
}
.a6{
  -webkit-animation-delay: .2s;
  animation-delay:.2s;
}
.a7{
  -webkit-animation-delay: .10s;
  animation-delay:.10s;
}
.a7{
  -webkit-animation-delay: .4s;
  animation-delay:.4s;
}
.flecha{
  margin-top: 25%;
  color: rgba(255, 255, 255, 0.4);
  position: relative;
}
.flecha:hover{
  color: black;

}
.leftImg{
  margin-top: 30px;
}

.arriba{
  z-index: 300;
}
.project-content{
   margin-top: 30px;
}
.especial img{
  height: 70vh;
  margin-top: -15px;
}
.contenido-proyecto{
  margin-top: -30px;
   display: flex;
  align-items: center;
}
.img-proyectos{
  opacity: .3;
  margin-left: 70px;
}
.noOpacity{
  opacity: 1;
  -webkit-transition: box-shadow 1s; /* Safari */
  transition: opacity 1s;
  box-shadow: 3px 4px 15px 0px rgba(0,0,0,0.75);
}
.btn-proyectos{
  margin: 10px 10px;
  background: #4dd0e1;
  width: 90%;
}
.barra{
  display: flex;
  justify-content: space-around;
}
.barra span{
  margin: 0 30px;
  -webkit-transition: letter-spacing 1s; /* Safari */
  transition: letter-spacing 1s;
}

.a{
  -webkit-transition: bottom 1s; /* Safari */
  transition: bottom 1s;
  position: relative;
}

.a:hover{
  bottom: 20px;
}
.nombreProyecto{
  background: white;
  border-radius: 10px;
  color: #A4A4A4;

}
.nombreProyecto span{
  font-size: 1.4em;
  font-family: 'Rubik', sans-serif;
}
p span{
  color: #4dd0e1;
  font-size: 3em;
}